   <!--replace css-->
    <link rel="stylesheet" href="__STATIC__/merchant/css/replaceUI.css" />
<div class="layuimini-container">
    <div class="layuimini-main">
        <table id="currentTable" class="layui-table layui-hide"
               data-auth-add="{:auth('merchant.merchantmoneychange/add')}"
               data-auth-edit="{:auth('merchant.merchantmoneychange/edit')}"
               data-auth-delete="{:auth('merchant.merchantmoneychange/delete')}"
               data-auth-detail="{:auth('merchant.merchantmoneychange/detail')}"
               lay-filter="currentTable">
        </table>
    </div>
</div>