<!--replace css-->
<link rel="stylesheet" href="__STATIC__/merchant/css/modifyUI.css" media="all">
<div class="layuimini-container">
    <div class="layuimini-main">

        <form id="app-form" class="layui-form layuimini-form">

            <div class="layui-form-item cpt-flex">
                <label class="layui-form-label required">{:lang('reg_tip41')}</label>
                <div class="layui-input-block">
                    <input type="text" name="merchantname" class="layui-input" readonly value="{$row.merchantname|default=''}">
                    <tip>{:lang('reg_tip42')}</tip>
                </div>
            </div>

      

            <div class="hr-line"></div>
            <div class="layui-form-item text-center">
                <button type="submit" class="layui-btn layui-btn-normal layui-btn-sm" lay-submit>{:lang('reg_tip43')}</button>
                <button type="reset" class="layui-btn layui-btn-primary layui-btn-sm reset-bg">{:lang('reg_tip44')}</button>
            </div>

        </form>

    </div>
</div>