   <!--replace css-->
    <link rel="stylesheet" href="__STATIC__/merchant/css/configUI.css" />
<div class="layuimini-container">

    <div class="layuimini-main" id="app">

        <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
            <ul class="layui-tab-title">
                <li class='item-tab layui-this'>{:lang('reg_tip55')}</li>
            
            </ul>
            <div class="layui-tab-content">
                
                <div class="layui-tab-item layui-show">
                    {include file="merchant/config/miyue" /}
                </div>
                
            </div>
        </div>

    </div>
</div>