

<!--replace css-->
<link rel="stylesheet" href="__STATIC__/admin/css/replaceUI.css" media="all">
<div class="layuimini-container">
    <div class="layuimini-main">
        <table id="currentTable" class="layui-table layui-hide"
               data-auth-add="{:auth('address.addresstransfer/add')}"
               data-auth-edit="{:auth('address.addresstransfer/edit')}"
               data-auth-delete="{:auth('address.addresstransfer/delete')}"
               data-auth-detail="{:auth('address.addresstransfer/detail')}"
               lay-filter="currentTable">
        </table>
    </div>
</div>